<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Hola to example.com, <%= @user.nombre %></h1>
    <p>
      Se ha registrado en la plataforma con el correo: <%= @user.email %>.<br/>
    </p>
  </body>
</html>
